[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
coverage = "*"
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-comprehensions" = "*"
"flake8-quotes" = "*"
"flake8-import-order" = "*"
ipdb = "*"
