name: Publish

on:
  push:
    tags:
      - v*

jobs:
  pypi:
    runs-on: ubuntu-latest
    name: Publish package on PyPI
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - run: pip install setuptools twine wheel
      - run: python setup.py sdist bdist_wheel
      - run: twine upload --verbose --username '__token__' dist/*
        env:
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
